ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user__list__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  border: 3px solid whitesmoke;
  width: 70vw;
  background: rgb(243, 232, 228);
  transition: background 10s;
}
a {
  color: #383535;
}

.user__list__data :hover {
  cursor: pointer; /* Change the cursor to a pointer */
}

@media only screen and (max-width: 600px) {
  .user__list__data {
    width: 80vw;
    background: rgb(187, 232, 240);
  }
}
